html {
  box-sizing: border-box;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* For WebKit-based browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For other browsers */
input[type="number"] {
  appearance: textfield;
}